div.weather60, div.weather59, div.weather58, div.weather57, div.weather56 { 
  padding-left: 40px;
  padding-top: 5px;
  background: url(Sun.svg) no-repeat left;
  background-size: 30px 30px;
}

div.weather55, div.weather54, div.weather53, div.weather52, div.weather51 { 
  padding-left: 40px;
  padding-top: 5px;
  background: url(Cloud-Sun.svg) no-repeat left;
  background-size: 30px 30px;
}

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

@include pictos-iconmask('brightness1');

// Your custom code goes here...