$backgroundsize: 60px;

h1.wait {
  background: url(../images/Shades.svg) no-repeat top;
  background-size: 200px;
}
.stationList {
  padding-left: 60px;
  font-size: 150%;
}

.sunLevel3 { 
  background: url(../images/Sun.svg) no-repeat left;
  background-size: $backgroundsize;
}
  
.sunLevel2 { 
  background: url(../images/Cloud-Sun.svg) no-repeat left;
  background-size: $backgroundsize;  
}

.sunLevel1 { 
  background: url(../images/Cloud-Light-Sun.svg) no-repeat left;
  background-size: $backgroundsize; 
}

.sunLevel0 { 
  background: url(../images/Cloud.svg) no-repeat left;
  background-size: $backgroundsize;
}
  
span.distance {
  font-style: italic;
}

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

@include pictos-iconmask('brightness1');

// Your custom code goes here...