$smallfont: 1.1em;
$bigfont: 2.5em;

.stationList {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 45% 50%;
}

.stationList.sunLevel4 {
  background-image: url(../images/Sun.svg);
}

.stationList.sunLevel3 {
  background-image: url(../images/Cloud-More-Sun.svg);
}

.stationList.sunLevel2 {
  background-image: url(../images/Cloud-Sun.svg);
}

.stationList.sunLevel1 {
  background-image: url(../images/Cloud-Light-Sun.svg);
}

.stationList.sunLevel0 {
  background-image: url(../images/Cloud.svg) no-repeat 45% 50%;
}

.stationList > .name {
  font-size: $smallfont;
}

.stationList > .distance {
  font-size: $bigfont;
  text-align: right;
}

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

@include pictos-iconmask('brightness1');

// Your custom code goes here...